body {
    font-family: "Hiragino Sans", "Meiryo", sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

/* 全体のレイアウト */
.container {
    display: flex;
    height: 100vh;
}

/* 入力欄（左側） */
.input-panel {
    width: 25%;
    background-color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
}

.input-panel h3 {
    text-align: center;
    margin-bottom: 20px;
}

.input-panel label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.input-panel input {
    width: 90%;
    padding: 5px;
    margin-top: 5px;
}

/* グラフエリア（右側） */
.graph-panel {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.graph-panel h2 {
    margin-top: 0;
    font-size: 30px;
}

.graph {
    height: 350px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.graph-panel_2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.panel-item {
    flex: 1;            
    padding: 10px;
    box-sizing: border-box;
}

.panel-item h2 {
    font-size: 20px;
    margin-top: 0;
}

.panel-item .graph {
    height: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
}

